<!DOCTYPE html>
<html>

<head>
    <title>Liquidador de Nómina</title>
</head>

<body>

    <h1>Liquidador de Nómina</h1>

    <hr>

    <h2>Menú Principal</h2>

    <ul>

        <li>
            <a href="/empleados">
                Gestión de Empleados
            </a>
        </li>

        <li>
            <a href="/nominas">
                Gestión de Nóminas
            </a>
        </li>

        <li>
            <a href="/detalles">
                Detalles de Nómina
            </a>
        </li>

        <li>
            <a href="/crear-tablas">
                Crear Tablas BD
            </a>
        </li>

    </ul>

</body>

</html>