<!DOCTYPE html>
<html>

<head>
    <title>Liquidador de Nómina</title>
</head>

<body>

    <h1>Liquidador de Nómina</h1>

    <hr>

    <h2>Menú Principal</h2>

    <ul>
        <li>
            Gestión de Empleados
            <ul>
                <li><a href="/insertar_empleado">Insertar Empleado</a></li>
                <li><a href="/buscar_empleado">Buscar Empleado</a></li>
            </ul>
        </li>

        <li><a href="/crear_tablas">Crear Tablas BD</a></li>
    </ul>
</body>

</html>